@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff'),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff'),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'KievitPro';
    src: url('../fonts/KievitPro-Regular.woff2') format('woff2'),
        url('../fonts/KievitPro-Regular.woff') format('woff'),
        url('../fonts/KievitPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'KievitPro';
    src: url('../fonts/KievitPro-Bold.woff2') format('woff2'),
        url('../fonts/KievitPro-Bold.woff') format('woff'),
        url('../fonts/KievitPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
body {
    background: #f9f7f2;
}
main {
    background: #ffffff;
    margin-top: 110px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.container {
    max-width: 878px;
    margin: auto;
}
.overview {
    margin-left: 29px;
}
.overview-title {
    font-family: 'KievitPro', sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #000000;
    max-width: 373px;
    margin: 0;
}
.overview-description {
    font-family: 'KievitPro', sans-serif;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    max-width: 363px;
    margin-bottom: 6px;
    margin-top: 19px;
}
.more-description {
    font-family: 'KievitPro', sans-serif;
    font-size: 17px;
    line-height: 25px;
    color: #000000;
    text-decoration: none;
}
.more-description:hover {
    border-bottom: 3px solid #ff4641;
}
.feedback {
    background: #ffffff;
    padding: 0px 30px 0px 31px;
}
.feedback-title {
    font-family: 'KievitPro', sans-serif;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #000000;
    padding: 35px 0px 21px 31px;
    margin: 0;
}
.cards {
    display: flex;
}
.card {
    background: #f9f7f2;
    max-width: 300px;
    margin-right: 20px;
    padding: 26px 0px 11px 19px;
}
.head-card {
    display: flex;
    align-items: center;
}
.user-name {
    font-family: 'KievitPro', sans-serif;
    font-size: 15px;
    line-height: 17px;
    color: #000000;
    padding-left: 10px;
}
.main-card {
    padding-top: 28px;
}
.card-title {
    font-family: 'KievitPro', sans-serif;
    font-size: 13px;
    line-height: 17px;
    letter-spacing: 0.464286px;
    text-transform: uppercase;
    color: #212121;
}
.red {
    color: #fc4f1e;
}
.card-description {
    padding-top: 12px;
    padding-bottom: 8px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    color: #000000;
    max-width: 272px;
}
.card-img {
    margin-right: 5px;
    margin-bottom: 26px;
}
.footer-card {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 25px;
    color: #9d9d9d;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.comment::before {
    content: '';
    width: 4px;
    height: 4px;
    background: #9d9d9d;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
}
.like {
    display: flex;
    align-items: center;
}
.btn {
    padding: 10px 23px 13px 24px;
    font-family: 'KievitPro', sans-serif;
    font-size: 15px;
    line-height: 17px;
    color: #212121;
    border: 2px solid #ff4641;
    border-radius: 2px;
    background: #fff;
    margin-bottom: 33px;
    margin-top: 32px;

    cursor: pointer;
}
.chat-user {
    margin-top: 50px;
    min-width: 415px;
    margin-bottom: 134px;
}
.chat-title {
    font-family: 'KievitPro', sans-serif;
    font-size: 29px;
    line-height: 35px;
    letter-spacing: 0.03em;
    color: #000000;
    margin: 0;
    margin-bottom: 25px;
}
.head-chat {
    background: #ffffff;
    padding: 27px 20px 27px 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ececec;
}
.info-name {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 60px;
}
.bold {
    font-weight: bold;
}
.user-description {
    font-family: 'KievitPro', sans-serif;
    font-size: 13px;
    line-height: 17px;
    color: #ff4641;
}
.main-chat {
    padding: 4px 13px;
    background: #fff;
    padding: 0px 13px;
}

.date-publications {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 25px;
    text-align: right;
    color: #9d9d9d;
    margin-left: 64px;
}

.info-message {
    display: flex;
    align-items: start;
}
.message {
    margin-left: 19px;
    font-family: 'KievitPro', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
    max-width: 265px;
}
.bacgr {
    background: #f9f7f2;
}
.footer-chat {
    background: #ffffff;
    border-top: 1px solid #ececec;
    padding: 26px 19px 28px 26px;
    display: flex;
    align-items: center;
}
.input-message {
    font-family: 'KievitPro', sans-serif;
    font-size: 15px;
    line-height: 24px;
    color: #a3a2a2;
    padding: 14px 30px 16px 24px;
    background: #ffffff;
    border: 1px solid #ececec;
    margin-left: 19px;
    margin-right: 15px;
}
.btn-submit {
    border: none;
    background: #fff;
    cursor: pointer;
    padding: 5px;
}
.chats {
    display: flex;
}
.administrator {
    margin-left: 24px;
}
.vertical-line {
    height: 610px;
    width: 2px;
    margin-left: 24px;
    margin-top: 50px;
    background: #ebe9e4;
}
@media (max-width: 1200px) {
}
@media (max-width: 991px) {
    .container {
        max-width: 760px;
    }
    .card:last-child {
        display: none;
    }
    .chats {
        display: block;
    }
    .vertical-line {
    display: none;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 560px;
    }
    .main {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
        margin-top: 30px;
    }
    .main-img {
        margin-bottom: 15px;
    }
    .card {
        margin-right: 10px;
    }
    .feedback {
        padding: 0px 20px;
    }
    .chat-user {
        margin-bottom: 54px;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 95%;
    }
    .card {
        flex-wrap: wrap;
    }
}
